{% extends "/layout.html" %}
{% block content %}
<div class="content-section">
<div class="media">
    <img class="img-thumbnail account-img" src="{{ image_file }}">
    <div class="media-body">
        <h2 class="account-heading">{{current_user.username}}</h2>
        <p class="text-secondary">{{current_user.email}}</p>
    </div>
</div>
<!-- FORM HERE -->


  <form class="" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class = "border-bottom mb-4"> Account Info</legend>

      <div class="form-group">
        {{ form.username.label(class='form-control-label') }}
        {% if form.username.errors %}
          {{ form.username(class= 'form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span> {{ error }}</span>
            {% endfor %}
          </div>
          {%else %}
          {{ form.username(class='form-control form-control-lg') }}
        {% endif %}

      </div>

      <div class="form-group">
        {{ form.email.label(class='form-control-label') }}
        {% if form.email.errors %}
          {{ form.email(class= 'form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span> {{ error }}</span>
            {% endfor %}
          </div>
          {%else %}
          {{ form.email(class='form-control form-control-lg') }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.picture.label() }}
        {{ form.picture(class='form-control-file')}}
        {% if form.picture.errors %}
          {% for error in form.picture.errors %}
            <span class="text-danger"> {{ error }}</span>
          {% endfor %}
        {% endif%}
      </div>

    </fieldset>

    <div class="form-group">
      {{ form.submit(class='btn-sm btn-outline-info', value="UPDATE ACCOUNT DATA") }}
    </div>

  </form>

    <div>
        <legend class = "border-bottom mb-4"> Immaga Access credentials</legend>
    </div>
    <form action="{{ url_for('save_api_key') }}">
        {% if current_user.api_key  == "acc_7a44f4db9a95430" %}
            {% set place_key="Create immaga account and paste key here" %}
        {% else %}
            {% set place_key=current_user.api_key %}
        {% endif %}
        {% if current_user.api_secret == "6ee0c5833ce2b25f280abbe77aa530cd" %}
            {% set place_secret="Create immaga account and paste secret here" %}
        {% else %}
            {% set place_secret=current_user.api_secret %}
        {% endif %}

        <table>
            <tr><td>API KEY</td></tr>
            <tr><td><input type="text" class = "api_input" name="api_key" value="{{ place_key }}" size="40"><br/></td></tr>
            <tr><td>API SECRET</td></tr>
            <tr><td><input type="text" class = "api_input" name="api_secret" value="{{ place_secret }}" size="40"><br/></td></tr>
        </table>
        <input type="submit" class='btn-sm btn-outline-info' value="SAVE API DATA" label="Save API credentials">
    </form>
</div>

{% endblock content %}
