{% extends "/layout.html" %}
{% block content %}
    <div class="section-titles">
        <h2 class="mb-3">Notebooks by <b style="color: #428bca;">{{ user.username }}</b>({{ notebooks.total }})</h2>
    </div>>
    {%for notebook in notebooks.items%}
        <article class="media content-section">
          <img class="img-thumbnail  article-img" src="{{url_for('static', filename='profile_pics/'+notebook.author.image_file)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_notebooks', username=notebook.author.username)}}">{{ notebook.author.username }}</a>
              <small class="text-muted">{{ notebook.date_posted.strftime('%Y-%m-%d')}}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('notebook', notebook_id = notebook.id) }}">{{ notebook.title }}</a></h2>
            <p class="article-content">{{ notebook.content|safe }}</p>
              <div class = "home_side_analysis">
                  <h6>RELEVANCE SCORE: {{ notebook.relevance}}</h6>
              </div>
          </div>
    </article>
    {% endfor %}
    {% for page_num in notebooks.iter_pages(left_edge=1, right_edge = 1, left_current =1, right_current=2) %}
        {% if page_num %}
                 {% if  notebooks.page == page_num%}
                    <a class = "btn btn-info mb-4" href="{{ url_for('user_notebooks', username = user.username, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                     <a class = "btn btn-outline-info mb-4" href="{{  url_for('user_notebooks', username = user.username, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}
